
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: white;
    padding: 1em;
    .logo {
        text-decoration: none;  
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span {
            color: #F29200;
        }
    }



    nav {
        display: none;
    }
        
        

    .container {
        display: flex;
        place-content: space-between;
    }
}



.mobile-menu {
    cursor: pointer;
}

a {
    color: #444444;
}

ul {
    list-style: none;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}

.left-col {
    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta {
        background: #F29200;
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta {
        display: block;
        margin-top: 1em;

        img {
            margin-right: 1em;
        }
    }
}

.hero-img {
    width: 40%;
    margin-top: 4em;
    border:#444444 solid 2px;
}

section.features-section {
    background: #14111C;
    color: white;
}

ul.features-list { 
    margin: 0;
    padding-left: .1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li {
        font-size :1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../images/bullet.svg');
            background-size: contain;
            margin-right: .5em;
        }

    }
    
}

.testimonials-section {
    background: #F29200;
    color: white;
    
    li {
        background: #c87800;
        text-align: center;
        border-radius: .5em;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;

        img { 
            width: 10em;
            height: auto;
            border: 5px solid #c87800;
            border-radius: 50%;
            margin-top: -4.5em;

        }
    }
}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;    
}

input, textarea, select, button, option  {
    width: 100%;
    padding: .8em;
    font-size: 1em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

button[type="submit"] {
    background: #F29200;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #14111C;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;
            
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;

    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
    }
}

p {
    font-size: 1.1em;
    line-height: 1.8em;
    color: #333333;
    margin-bottom: 1.5em;
}

.features-section p {
    color: white;
}

.hero .hero-cta p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #444444;
}

.testimonials-section p,
.testimonials-section blockquote {
    font-size: 1.1em;
    line-height: 1.5em;
    color: white;
}


@media only screen and (min-width: 800px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between ;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5 em;

            h1 {
                font-size: 3em;
                width: 90%
            }
        }
    }

    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }
    .primary-cta {
        margin-right: 1em;
    }

    ul.features-list {
        display: block;
        margin-left: 5em;

        li {
            font-size: 1.4em;

            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }

    .features-section {
        position: relative;
    }

    .testimonials-section ul {
        display: flex;

        li {
            margin: 0 1em;
        }
    }
    
    .form {
        position: relative;

        .container {
            display: flex;
        }
    }

    .form-right {
        position:absolute;
        right: 0;
        top: 10%;
        width: 45%;
        height: 80%;

        iframe {
            height: 100%;
        }
    }
}

@media only screen and (min-width: 1450px) {
    .features-section { 

        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: #F29200;
            left: 0;
            top: -4em; 
        }

        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 4.5em;
            top: 2em; 
        }
    }
}

@media only screen and (max-width: 799px) {
    .features-section {
        min-height: 100vh;
  }
}




